{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container my-3 position-relative">
        <form method="post" class="post-form position-absolute top-50 start-50 translate-middle-x">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                value="{{ form.username.data or '' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.data or '' }}">
        </div>
        <button type="submit" class="btn btn-outline-primary">로그인</button>
        <a class="btn btn-outline-primary" href="{{url_for('auth.signup')}}">Sign Up</a>
        </form>
    </div>
</body>
{% endblock %}