{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container my-5"> <!-- 컨테이너 클래스 추가 -->
        <h1 class="text-center mb-4">Course List</h1> <!-- 하단 여백 추가 -->

        {% if g.user %}
        {% if course_list %}
        <ul class="list-group mb-4"> <!-- 리스트 그룹 클래스 추가 -->
            {% for course in course_list %}
                <li class="list-group-item"> <!-- 리스트 그룹 아이템 클래스 추가 -->
                    <a class="btn btn-outline-primary" href="/detail/{{ course.id }}/">{{ course.course_name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="mb-4">No Courses.</p> <!-- 하단 여백 추가 -->
        {% endif %}
        {% endif %}

        <div class="custom-button mb-4"> <!-- 하단 여백 추가 -->
            <a class="btn btn-primary" href="{{url_for('main.courseAdd')}}">강좌 추가</a>
        </div>
    </div>
</body>
{% endblock %}
